<div bsModal #createMovimentacaoModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog" aria-labelledby="createMovimentacaoModal"
  aria-hidden="true" [config]="{backdrop: 'static'}">
  <div class="modal-dialog">

    <div #modalContent class="modal-content">

      <form *ngIf="active" #createMovimentacaoForm="ngForm" id="frm_create_movimentacao" novalidate (ngSubmit)="save()">
        <div class="modal-header">
          <button type="button" class="close" (click)="close()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">
            <span>Nova Movimentação</span>
          </h4>
        </div>
        <div class="modal-body">

          <div class="row clearfix">
            <div class="col-sm-12">
              <div class="form-group form-float">
                <div class="form-line">
                  <input id="descricao" type="text" name="Descricao" [(ngModel)]="movimentacao.descricao" required maxlength="32" class="validate form-control">
                  <label for="descricao" class="form-label">Descrição</label>
                </div>
              </div>
            </div>
          </div>

          <div class="row clearfix">
            <div class="col-sm-12">
              <div class="form-group form-float">
                <div class="form-line">
                  <div class="dropdown">
                    <a href="javascript:void(0);" class="waves-effect waves-block() dropdown-toggle" data-toggle="dropdown" role="button">
                      {{funcionarioSelecionado ? funcionarioSelecionado.nome : 'Selecione um funcionário'}}
                      <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                      <li *ngFor="let funcionario of funcionarios">
                        <a *ngIf="!funcionarioSelecionado || funcionario.id != funcionarioSelecionado.id" (click)="changeFuncionario(funcionario)">{{funcionario.nome}}</a>
                      </li>
                    </ul>
                  </div>                                   
                </div>
              </div>
            </div>
          </div>

          <div class="row clearfix">
            <div class="col-sm-12">
              <div class="form-group form-float">
                <div class="form-line">
                  <input id="valor" type="text" currencyMask name="Valor" [(ngModel)]="movimentacao.valor" required maxlength="32" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
                    class="validate form-control">
                  <label for="valor" class="form-label">Valor</label>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="modal-footer">
          <button [disabled]="saving" type="button" class="btn btn-default waves-effect" (click)="close()">
            Cancelar
          </button>
          <button [disabled]="!createMovimentacaoForm.form.valid || saving" type="submit" class="btn btn-primary waves-effect">
            Salvar
          </button>
        </div>

      </form>
    </div>
  </div>
</div>
