<div bsModal #editFuncionarioModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog" aria-labelledby="editFuncionarioModal"
  aria-hidden="true" [config]="{backdrop: 'static'}">
  <div class="modal-dialog">

    <div #modalContent class="modal-content">
      <form *ngIf="active" #editFuncionarioForm="ngForm" id="frm_edit_funcionario" novalidate (ngSubmit)="save()">
        <div class="modal-header">
          <button type="button" class="close" (click)="close()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">
            <span>Editar Funcionário</span>
          </h4>
        </div>
        <div class="modal-body">

          <ul class="nav nav-tabs tab-nav-right" role="tablist">
            <li role="presentation" class="active">
              <a href="#funcionario-details" data-toggle="tab">Detalhes</a>
            </li>
            <li role="presentation">
              <a href="#funcionario-departamentos" data-toggle="tab">Departamentos</a>
            </li>
          </ul>
          <div class="tab-content">

            <div role="tabpanel" class="tab-pane animated fadeIn active" id="funcionario-details">
              <div class="col-sm-12">
                <div class="form-group form-float">
                  <div class="form-line">
                    <input id="nome" type="text" name="Nome" [(ngModel)]="funcionario.nome" required maxlength="32" class="validate form-control">
                    <label for="nome" class="form-label">Nome</label>
                  </div>
                </div>
              </div>
            </div>

            <div role="tabpanel" class="tab-pane animated fadeIn" id="funcionario-departamentos">
              <div class="row">
                <div class="col-sm-12 ">
                    <ng-template ngFor let-departamento [ngForOf]="departamentos" let-departamentoIndex="index">
                    <div class="col-sm-6">
                      <input type="checkbox" name="departamento" value="{{departamento.id}}" title="{{departamento.nome}}" class="filled-in" id="departamento-{{departamentoIndex}}"
                        checked="{{funcionarioInDepartamento(funcionario, departamento)}}" #inputDepartamentos />
                      <label for="departamento-{{departamentoIndex}}" title="{{departamento.nome}}">{{departamento.nome}}</label>
                    </div>
                  </ng-template>
                </div>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button [disabled]="saving" type="button" class="btn btn-default waves-effect" (click)="close()">
              Cancelar
            </button>
            <button [disabled]="!editFuncionarioForm.form.valid || saving" type="submit" class="btn btn-primary waves-effect">
              Salvar
            </button>
          </div>

        </div>
      </form>
    </div>
  </div>
</div>